/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;400&display=swap");


@keyframes moving {
    100% {transform: rotate(360deg);}
}

.contacts_block{
    font-size: 14px;
}

.menu{
    padding: 15px 0 15px 0;
    margin-top: 15px;
}

.news{
    margin: 2px 0 4px 0;
    border: 1px solid #000000;
    display: block;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    letter-spacing: 4px;
    font-weight: 400;
    box-shadow: 1px 1px 3px #000;
}

.news:hover{
    color: #000000;
    transition-duration: 300ms;
    transition-property: background-color, box-shadow;
    background-color: #F3F1C5;
    box-shadow: -1px 1px 5px #000;
}

.contacts{
    margin: 2px 0 2px 0;
    border: 1px solid #000000;
    display: block;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    letter-spacing: 4px;
    font-weight: 400;
    box-shadow: 1px 1px 3px #000;
}

.contacts:hover{
    color: #000000;
    transition-duration: 300ms;
    transition-property: background-color, box-shadow;
    background-color: #F3F1C5;
    box-shadow: -1px 1px 5px #000;
}

.home{
    margin: 2px 0 4px 0;
    border: 1px solid #000000;
    display: block;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    letter-spacing: 4px;
    font-weight: 400;
    box-shadow: 1px 1px 3px #000;
}

.home:hover{
    color: #000000;
    transition-duration: 300ms;
    transition-property: background-color, box-shadow;
    background-color: #F3F1C5;
    box-shadow: -1px 1px 5px #000;
}

